html{background-color: rgb(50,71,78);}
header{background-color: rgb(255,255,255);}
body{border-color:border-color: darkslategrey;
    border-style: inset;
    border-width: 8px;
    width: 500px;
    height: auto;
    background-color: rgb(255,255,255);
    margin: 200px;
    margin-left: 400px;
    font-family: 'Oswald', sans-serif;

}

}
.addbox{
	background-color: rgb(255,255,255);
	width: 100px;
	
	padding: 25px;
    /* background-color: red; */
    padding-left: 190px;
  
    padding-right: 0px;
    margin-left: 110px;		
}
#calculate-button{  font-weight: 900;
    				border: inset;


}

.sign{
    padding-left: 63px;
    font-weight: 900;
    font-size: large; 
	margin:auto;
	}
.calc{background-color: rgb(255,255,255);
width: 100px;
margin:auto;}
h1{ margin: 3px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: -10px;
    padding: 2px;
}
}

.answer{    
	margin-left: 4px;
    width: 0;
    display: block;
    margin-left: 12px;
    margin-bottom: 20px;
    font-size: 25px;
}}
	 /*margin: 4px;}*/
.valuebox{    margin: 0px;
    margin-left: 107px;
    margin-bottom: 20px;
    margin-top: -10px;
    padding: 2px;
}}